/** Reset **/
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

ul:not(.markdown-body ul) {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

hr:not([size]),
.progress {
  padding: 0;
  margin: 0.5rem 0rem 1rem 0rem;
  height: 5px;
  border-radius: 100px;
  background-color: #e9ecef;
  opacity: 1;
}

.no-link a,
a.no-link {
  color: inherit;
  text-decoration: none;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-center > * {
  margin: 0 2px;
}

/* Customize */
#donateField {
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

#donateField.pending {
  background: #ffc107;
}

#donateField.failed {
  background: #ff5722;
  color: white;
}

#donateStatus,
#donateForm,
#donateSection {
  transition: all 1s ease-in-out;
  max-height: 65rem;
  overflow: hidden;
}

#donateStatus.hide,
#donateForm.hide,
#donateSection.hide {
  max-height: 0;
}

#donateStatus {
  text-align: center;
  font-size: 1.2rem;
}

#donateStatus #sharingActions {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

#donateStatus #sharingActions a,
#donateStatus #sharingActions button {
  display: flex;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

#donateStatus #sharingActions a > *,
#donateStatus #sharingActions button > * {
  margin: auto 5px;
}

#sharingActions img {
  width: 20px;
}

@media (min-width: 768px) {
  #donateStatus #sharingActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #donateStatus #sharingActions a,
  #donateStatus #sharingActions button {
    width: 30%;
    justify-content: center;
  }
}

#donateStatus #sharingActions #fullfillmentLink > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#donateField #donateSection small {
  margin-top: 10px;
}

#donateField #donateForm {
  display: flex;
  align-items: center;
}

#donateField #donateForm button {
  white-space: nowrap;
}

#donateField #donateForm input[type="range"] {
  margin: 0 5px 0 0;
}

#donateField #donateForm input[type="range"]::-webkit-slider-thumb {
  background-color: var(--bs-success);
}

#donateSection .pledge-step {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 6px;
  padding: 6px;
}

#donateSection .pledge-step > div {
  display: flex;
  flex-direction: column;
}

#donateSection .pledge-step .form-control {
  height: 100%;
}

aside section {
  padding-bottom: 1.4rem;
}

#recipientList > li {
  --margin: 5px;
  width: calc(50% - calc(var(--margin) * 2));
  height: 210px;
  padding: 10px;
  display: inline-flex;
  margin: var(--margin);
}

@media (min-width: 768px) {
  #recipientList > li {
    width: 100%;
  }
}

#recipientList > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

#recipientList > li > a > img {
  width: 150px;
  height: 150px;
  margin: auto;
  object-fit: cover;
  display: block;
}

#recipientList > li > a > span {
  display: flex;
  justify-content: space-between;
}

.contribution-header {
  justify-content: space-between;
}

#contributionList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

#contributionList > li {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  margin-bottom: 1rem;
}

#contributionList > li > span {
  display: flex;
  flex-direction: column;
  flex: 1;
  word-break: break-word;
  justify-content: center;
}

.contributionWaves {
  content: "";
  position: absolute;
  display: block;
  height: 4rem;
  width: 16rem;
  z-index: 1;

  background-image: url("../img/water.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 0 4rem;

  animation-name: horizontalBackgroundMovement;
  animation-timing-function: linear;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  will-change: transform;
}

#contributionList > li > div {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 2px 0px grey;
}

#contributionList > li > div > .contributionPercent {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
  height: 4rem;
  width: 4rem;

  line-height: 4rem;
  text-align: center;
  border-radius: 999rem;

  background-color: rgba(255, 255, 255, 0.31);

  font-family: monospace;
  font-size: 1.15rem;
  font-weight: bold;
}

#contributionList > li > span > span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contributionList > li > span > q {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.42);
}

#contributionList > li > span > small {
  color: rgba(0, 0, 0, 0.42);
}

#languageSelector:not(.active) #languageList {
  opacity: 0;
  max-height: 0;
}

#languageSelector #languageList {
  overflow-y: hidden;
  max-height: 500px;
  transition: all 1s linear;
}

#languageSelector {
  position: fixed;
  right: 0;
  bottom: 0;
  transition: all 1s ease;
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 2rem 9px rgb(0 0 0 / 25%);
  z-index: 100;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  right: 0;
  position: fixed;
  background: white;
  z-index: 999;
}

/* rtl */
[dir="rtl"] #languageSelector {
  right: unset;
  left: 0;
}
[dir="rtl"] #donateField #donateForm input[type="range"] {
  margin: 0 0 0 5px;
}
[dir="rtl"] .text-end {
  text-align: left !important;
}

[dir="rtl"] .text-start {
  text-align: right !important;
}

[dir="rtl"] main {
  flex-direction: row-reverse;
}

[dir="rtl"] .me-1 {
  margin-left: 0.25rem !important;
  margin-right: unset !important;
}

[dir="rtl"] .ms-1 {
  margin-left: unset !important;
  margin-right: 0.25rem !important;
}

[dir="rtl"] .me-2 {
  margin-left: 0.5rem !important;
  margin-right: unset !important;
}

[dir="rtl"] .ms-2 {
  margin-left: unset !important;
  margin-right: 0.5rem !important;
}

[dir="rtl"] .input-group > :not(:first-child) {
  margin-right: -1px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  /* Reset*/
  margin-left: 0px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

[dir="rtl"] .input-group > :not(:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  /* Reset*/
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

[dir="rtl"] .contributionWaves {
  animation-name: horizontalBackgroundMovementRtl;
}
/** Animations **/
@keyframes horizontalBackgroundMovement {
  /* use in contribution waves */
  from {
    transform: translate(-4rem, 0);
  }
  to {
    transform: translate(-8rem, 0);
  }
}

@keyframes horizontalBackgroundMovementRtl {
  /* use in contribution waves */
  from {
    transform: translate(4rem, 0);
  }
  to {
    transform: translate(8rem, 0);
  }
}

@media print {
  @page {
    size: auto;
    margin: 50px 0;
  }
  #languageSelector,
  #printAction,
  #donateField:not(.fullfilled),
  #donateSection,
  #donateForm,
  video {
    display: none !important;
  }
  #campaignAbstract > *,
  #campaignDetails > *,
  #contributionList > li {
    break-inside: always !important;
  }
  .btn {
    color: black !important;
  }
  .print-center-text.text-start {
    text-align: center !important;
    color: black !important;
  }
}

@media (min-width: 576px) {
  .w-sm-auto {
    width: auto !important;
  }
}
